<extend name="simple/base"/>

<block name="body">
    <div class="grid_10">
        <div class="box round first grid">
            <h2>文章列表</h2>
            <div class="block">

                <div id="example_wrapper" class="dataTables_wrapper"><div class="dataTables_length" id="example_length">
                    <label>每页显示 <select size="1" name="example_length">
                        <option selected="selected" value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>
                        条数据</label></div><div id="example_filter" class="dataTables_filter"><label>搜索: <input type="text"></label></div><table class="data display datatable" id="example">
                    <thead>
                    <tr>
                        <th style="width: 339px;" colspan="1" rowspan="1" class="sorting_asc">标题</th>
                        <th style="width: 419px;" colspan="1" rowspan="1" class="sorting">栏目</th>
                        <th style="width: 394px;" colspan="1" rowspan="1" class="sorting">作者</th>
                        <th style="width: 285px;" colspan="1" rowspan="1" class="sorting">时间</th>
                        <th style="width: 205px;" colspan="1" rowspan="1" class="sorting">互动数</th></tr>
                    </thead>
                    <tbody><tr class="gradeA odd">
                        <td class=" sorting_1">人这一辈子</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA even">
                        <td class=" sorting_1">没有守望玩我要死了</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA odd">
                        <td class=" sorting_1">来吸一口</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA even">
                        <td class=" sorting_1">正在前往多拉多</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA odd">
                        <td class=" sorting_1">欢迎来到好莱坞</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA even">
                        <td class=" sorting_1">意大利的光影</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA odd">
                        <td class=" sorting_1">哈哈哈哈</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA even">
                        <td class=" sorting_1">胡编乱造</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA odd">
                        <td class=" sorting_1">大家一起来装逼</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr><tr class="gradeA even">
                        <td class=" sorting_1">终于编完了</td>
                        <td>装逼必备</td>
                        <td>丁波</td>
                        <td class="center">2016-6-13</td>
                        <td class="center">245</td>
                    </tr></tbody></table><div id="example_info" class="dataTables_info">显示 1 到 10 共 57 条数据</div><div id="example_paginate" class="dataTables_paginate paging_two_button"><div id="example_previous" title="Previous" class="paginate_disabled_previous"></div><div id="example_next" title="Next" class="paginate_enabled_next"></div></div></div>



            </div>
        </div>
    </div>

</block>