<extend name="simple/base"/>

<block name="body">
    <div class="grid_10">
        <div class="box round first">

            <h2>Gallery</h2>
            <div class="block">
                <div class="gallery-sand">
                    <div class="filter-options">
                        <!-- Big Gallery Sorting: Start -->
                        <ul class="sorting">
                            <li><a href="#" data-type="all" class="active">Show All</a></li>
                            <li><a class="" href="#" data-type="buildings">Buildings</a></li>
                            <li><a class="" href="#" data-type="streets">Streets</a></li>
                            <li><a class="" href="#" data-type="nature">Nature</a></li>
                            <li><a class="" href="#" data-type="clothing">Clothing</a></li>
                        </ul>
                    </div>
                    <!-- Big Gallery Sorting: End -->
                    <!-- Small Gallery Content: Start -->
                    <div class="filter-results">
                        <ul style="height: 391px;" class="gallery small"><li data-type="buildings" data-id="g001">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_01.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_01.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_01.png" alt="">
                            </a></li><li data-type="nature" data-id="g002">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_02.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_02.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_02.png" alt="">
                            </a></li><li data-type="buildings" data-id="g003">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_03.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_03.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_03.png" alt="">
                            </a></li><li data-type="streets" data-id="g004">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_04.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_04.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_04.png" alt="">
                            </a></li><li data-type="streets" data-id="g005">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_05.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_05.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_05.png" alt="">
                            </a></li><li data-type="nature" data-id="g006">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_06.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_06.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_06.png" alt="">
                            </a></li><li data-type="nature" data-id="g007">
                            <div style="display: none;" class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_07.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_07.jpg" class="popup">
                                <img style="opacity: 1;" src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_07.png" alt="">
                            </a></li><li data-type="buildings" data-id="g008">
                            <div style="display: none;" class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_08.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_08.jpg" class="popup">
                                <img style="opacity: 1;" src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_08.png" alt="">
                            </a></li><li data-type="streets" data-id="g009">
                            <div style="display: none;" class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_09.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_09.jpg" class="popup">
                                <img style="opacity: 1;" src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_09.png" alt="">
                            </a></li><li data-type="buildings" data-id="g010">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_10.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_10.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_10.png" alt="">
                            </a></li><li data-type="nature" data-id="g0011">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_11.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_11.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_11.png" alt="">
                            </a></li><li data-type="nature" data-id="g012">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_12.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_12.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_12.png" alt="">
                            </a></li><li data-type="buildings" data-id="g013">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_13.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_13.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_13.png" alt="">
                            </a></li><li data-type="streets" data-id="g014">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_14.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_14.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_14.png" alt="">
                            </a></li><li data-type="nature" data-id="g015">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_15.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_15.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_15.png" alt="">
                            </a></li><li data-type="streets" data-id="g016">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_16.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_16.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_16.png" alt="">
                            </a></li><li data-type="buildings" data-id="g017">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_17.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_17.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_17.png" alt="">
                            </a></li><li data-type="streets" data-id="g018">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_18.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_18.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_18.png" alt="">
                            </a></li><li data-type="buildings" data-id="g019">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_19.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_19.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_19.png" alt="">
                            </a></li><li data-type="streets" data-id="g020">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_20.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_20.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_20.png" alt="">
                            </a></li><li data-type="nature" data-id="g021">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_21.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_21.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_21.png" alt="">
                            </a></li><li data-type="nature" data-id="g022">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_22.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_22.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_22.png" alt="">
                            </a></li><li data-type="buildings" data-id="g023">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_23.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_23.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_23.png" alt="">
                            </a></li><li data-type="clothing" data-id="g024">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_24.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_24.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_24.png" alt="">
                            </a></li><li data-type="clothing" data-id="g025">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_25.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_25.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_25.png" alt="">
                            </a></li><li data-type="clothing" data-id="g026">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_26.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_26.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_26.png" alt="">
                            </a></li><li data-type="clothing" data-id="g027">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_27.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_27.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_27.png" alt="">
                            </a></li><li data-type="streets" data-id="g028">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_28.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_28.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_28.png" alt="">
                            </a></li><li data-type="streets" data-id="g029">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_29.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_29.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_29.png" alt="">
                            </a></li><li data-type="buildings" data-id="g030">
                            <div class="actions">
                                <a href="#" class="delete">delete</a> <a href="#" class="edit">edit</a> <a href="__PUBLIC__/Admin/img/gallery/image_30.jpg" class="view popup">view</a>
                            </div>
                            <a href="__PUBLIC__/Admin/img/gallery/image_30.jpg" class="popup">
                                <img src="__PUBLIC__/Admin/img/gallery/thumbs_small/image_30.png" alt="">
                            </a></li>
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                            <!-- Small Gallery Image: Start -->

                            <!-- Small Gallery Image: End -->
                        </ul>
                    </div>
                    <!-- Small Gallery Content: End -->
                </div>
            </div>
        </div>
    </div>

</block>