<extend name="simple/base"/>

<block name="body">

    <div class="grid_10">
        <div class="box round first">
            <h2>
                站点数据</h2>
            <div class="block">
                <div id="chart1">
                </div>
            </div>
        </div>

    </div>
    <div class="grid_5">
        <div class="box round">
            <h2>
                公告板</h2>
            <div class="block">
                <p class="start">
                    后台管理系统正式投入使用，反正呢个不管散户期望二十一只要凑好多好多的字上去看起来就好看了。哈哈哈，凑字数真的是好无聊的意见是，错别字其实也没多大问题哦电费哈哈哈。</p>
                <p>
                    公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板公告板
                </p>
            </div>
        </div>
    </div>
    <div class="grid_5">
        <div class="box round">
            <h2>
                待办事项</h2>
            <div class="block">
                <p class="start">
                    今天要交大作业@——@
                    </p>
                <p class="start">
                    明天要干什么呢？
                </p>
                <p class="start">
                    记得公众号的推送
                </p>
                <p class="start">
                    周六考六级！！！
                </p>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</block>