<extend name="simple/base"/>

<block name="body">

    <section class="page-title">
        <div class="page-background">
            <img src="__PUBLIC__/Home/images/bg/title-bg1.jpg">
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="two-third">
                        <h2>设计说明</h2>
                    </div>
                    <div class="one-third column-last">
                    </div>
                    <div class="clear"></div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>
    <div class="centered-wrapper">
    <h6>jQuery插件说明</h6>
    <p>
        制作此网站，我使用了许多成熟的jQuery插件，这里列出，方便同学学习
    </p>
    </div>
    <div class="separator"></div>
    <div class="centered-wrapper">
        <div class="percent-one-third">
            <div class="service-item">
                <i class="icon-time"></i>
                <h3 class="service">HoverIntent 鼠标延迟</h3>
                <p class="clear">为了防止用户误操作，该插件将移动速度高于特定值的移动忽略，从而防止误操作。</p>
            </div>
        </div><!--end one-third-->

        <div class="percent-one-third">
            <div class="service-item">
                <i class="icon-check"></i>
                <h3 class="service">SuperFish 下拉菜单</h3>
                <p class="clear">一套成熟的下拉式导航菜单插件，自带延迟。</p>
            </div>
        </div><!--end one-third-->

        <div class="percent-one-third column-last">
            <div class="service-item">
                <i class="icon-envelope-alt"></i>
                <h3 class="service">Isotope 智能排版</h3>
                <p class="clear">对图片自动排版，可根据定义的数据值对网格进行重新排布。</p>
            </div>
        </div><!--end one-third-->

        <div class="space"></div>

        <div class="percent-one-third">
            <div class="service-item">
                <i class="icon-laptop"></i>
                <h3 class="service">MobileMenu 手机菜单</h3>
                <p class="clear">响应式布局，根据定义为网站添加下拉菜单式的导航栏</p>
            </div>
        </div><!--end one-third-->

        <div class="percent-one-third">
            <div class="service-item">
                <i class="icon-comments"></i>
                <h3 class="service">PrettyPhoto 点击看大图</h3>
                <p class="clear">JQ图片浏览插件，点击图片，展示大图，支持左右翻页，有优秀的外观！</p>
            </div>
        </div><!--end one-third-->

        <div class="percent-one-third column-last">
            <div class="service-item">
                <i class="icon-calendar"></i>
                <h3 class="service">Tweet 网格排版</h3>
                <p class="clear">对网页中的网格进行排序和重组，来源于Twitter公司</p>
            </div>
        </div><!--end one-third-->

        <div class="space"></div>

        <h3>技术参数:</h3>
        <div class="one-half">
            <ul class="customlist tick-list">
                <li>采用ThinkPHP 3.2.3 编写</li>
                <li>具有最低限度的交互功能</li>
                <li>富有创意的轮播图</li>
            </ul>
        </div>

        <div class="one-half column-last">
            <ul class="customlist tick-list">
                <li>源码公开，人人共享</li>
                <li>虽然可能页数不足，但是每页质量都很高@</li>
                <li>智能网格排版</li>
            </ul>
        </div>

        <div class="clear"></div>
    </div><!--end centered-wrapper-->
</block>