<extend name="simple/base"/>

<block name="body">

    <section class="page-title">
        <div class="page-background">
            <img src="__PUBLIC__/Home/images/bg/title-bg1.jpg">
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="two-third">
                        <h2>源码公开</h2>
                    </div>
                    <div class="one-third column-last">
                    </div>
                    <div class="clear"></div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>

    <div class="centered-wrapper">
        <section class="intro">
            <h2>互相学习 彼此激励</h2>
            <h5>我在Github上共享了此网站的代码，<a href="https://github.com/dingbo1028" target="_blank">点这里前往我的GitHub主页</a></h5>
        </section>
        <div class="separator"></div>
        <h6>源码使用说明</h6>

        <p>
            此网站基于ThinkPHP，所以在配置时，需要拥有PHP环境（<a href="http://www.chinaz.com/web/2010/0201/105609.shtml" target="_blank">点击这里查看如何配置PHP环境</a>）.
        </p>
        <p>
            此网站作用到的所有jQuery插件均未获得商业授权，如要投入商用，请与原作者联系。
        </p>


        <div class="clear"></div>
    </div><!--end centered-wrapper-->
</block>