<header id="header">
    <div class="centered-wrapper">
        <div class="one-third">
            <div class="logo"><a href="{:U('Index/index')}"></a></div>
        </div><!--end one-third-->

        <div class="two-third column-last">
            <nav id="navigation">
                <ul id="mainnav">
                    <li><a href="{:U('index/index')}"><span>首页 Home</span></a>
                    </li>
                    <li><a href="{:U('Travel/index')}"><span>旅行 Travel</span></a>
                    </li>
                    <li><a href="{:U('Life/index')}"><span>生活 Life</span></a>
                    </li>
                    <li><a href="{:U('Digital/index')}"><span>数码 Digital</span></a>
                    </li>
                    <li><a href="{:U('Creative/index')}"><span>创意 Creative</span></a>
                    </li>
                    <li><a href="{:U('Share/index')}"><span>分享 Share</span></a>
                    </li>
                </ul>
            </nav><!--end navigation-->
        </div><!--end two-third-->
        <div class="clear"></div>
    </div><!--end centered-wrapper-->
</header>
<div class="top-shadow"></div>