<extend name="simple/base"/>

<block name="body">

    <section class="page-title">
        <div class="page-background">
            <img src="__PUBLIC__/Home/images/bg/title-bg1.jpg">
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="two-third">
                        <h2>意大利的光与暗</h2>
                    </div>
                    <div class="one-third column-last">
                    </div>
                    <div class="clear"></div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>

    <div class="centered-wrapper">


        <section id="blog">
            <div id="posts" class="single-post">
                <article class="post">
                    <div class="post-thumbnail">
                        <img src="__PUBLIC__/Home/images/blog/tr1.jpg" alt="" />
                    </div><!--end post-thumbnail-->
                    <div class="post-content">
						<span class="masonry-post-meta">
							7 Jan 2012 / <a href="#">吃好吃的</a> / <a href="#">3 评论</a>
						</span>
                        <i class="icon-pencil"></i>
                        <div class="clear"></div>

                        <p><span class="dropcap2">意</span>大利是欧洲民族及文化的摇篮，曾孕育出罗马文化及伊特拉斯坎文明，而意大利的首都罗马，几个世纪以来都是西方世界的政治中心，也曾经是罗马帝国的首都。十三世纪末的意大利更是成为欧洲文艺复兴发源地。</p>

                        <blockquote>意大利是欧洲历史古国，在旧石器时代就已有人类在这片土地上生活。据古代神话，传说罗慕路斯（Lomulus）和他的孪生兄弟雷穆斯（Lemus）是由母狼抚养和哺育的——于公元前753年建立了罗马。事实上，自公元前2000年左右，古意大利部落就居住于此。</blockquote>
                        <p>568年，意大利北部建立了伦巴德王国，774并入法兰克王国。意大利中世纪最显著的特征就是北部强大城邦的崛起，其中著名的有米兰公国、威尼斯共和国、热那亚共和国、佛罗伦萨共和国等。15世纪，文艺复兴造就了多那太罗（Donatello）、波提切利（Botticelli）、达·芬奇（LeonardodaVinci）、拉斐尔（Raffaello）和米开朗基罗（Michelangelo）等艺术天才。到了16世纪早期，意大利大部分领土处于奥地利哈布斯堡王朝统治之下。在拿破仑于1796年入侵之后，消失了几个世纪的统一迹象又重新显现。
                        <p>意大利统一之后就走上了对外扩张的资本主义殖民道路并且以强国的姿态出现在欧洲的政治外交中，在19世纪60到80年代成功蚕食了东非红海沿岸的交通要地厄立特里亚和南索马里；1912年夺取了北非的利比亚和爱琴海罗德诸岛。</p>


                        <p>
                            我心底虽无故乡，但胃却也有故乡。某日在长沙见一桂林米粉店，大喜，进去先问老板你是哪的。老板低着头煮粉说是临桂的。我心底一沉，知这粉必不正宗，因桂林一带人氏说起自己籍贯必是鼻孔朝天，慢慢哼出一句“桂林的”。及后一尝，果然赝品，再悄悄问帮厨的老太太是哪的，她说是衡阳的。我对攀老乡毫无兴趣，只是想确认食物是否正宗。最近在林科大旁边吃螺蛳粉，老板是柳城的，果然正宗得不行，因为粉里一丁点螺蛳都木有，我年轻时出差柳州最恨这种粉，全素，仿佛寺庙特供，昔年我刚吃完站起来即饿得眩晕，愤愤地想连肉星都不见，怪不得古龙常说死在柳州，显然都是饿死的。
                        </p>
                        <p>
                            吃货意义上的觅食并不难，满大街都是馆子。真正艰难的，是谋生意义上的觅食。小时候老师说：为什么美国那么富饶？因为咱们中国人每天晚上睡大觉时，美国人民还在勤奋地工作。后来我翻开中学地理课本，发现小学老师没诓我。
                        </p>



                        <h6 class="tag-title">标签:</h6>
                        <ul class="tags">
                            <li><a href="#">游记</a></li>
                            <li><a href="#">意大利</a></li>
                            <li><a href="#">文化</a></li>
                        </ul>

                        <div class="next-prev-posts">
                            <div class="previous-post"><a href="#"><i class="icon-double-angle-left"></i>贺卫方：北京大学vs邹恒甫</a></div>
                            <div class="next-post"><a href="#">繁杂世界中的一粒灰<i class="icon-double-angle-right"></i></a></div>
                        </div>

                        <div class="author-bio">
                            <img src="__PUBLIC__/Home/images/blog/6.jpg" alt="author-gravatar" />
                            <div class="authorp">
                                <h2>作者: <a href="#">Frank Underwood</a></h2>
                                <p>We`are all same!</p>
                            </div>
                        </div>

                        <div class="double-separator"></div>

                        <h3>这篇文章有 5 回复:</h3>

                        <ol class="commentlist">
                            <li class="comment">
                                <div class="commentwrap">
                                    <div class="avatar">
                                        <img src="__PUBLIC__/Home/images/blog/1.jpg" width="60" height="60" alt="" />
                                    </div><!--end avatar-->

                                    <div class="metacomment">
                                        <span><a href="#">贺卫方</a></span>发表于 June 31, 2016, at 5:34am <a class="c_reply" href="#">回复</a>
                                    </div><!--end metacomment-->

                                    <div class="bodycomment">
                                        <p>支持楼主！写的很好！</p>
                                    </div><!--end bodycomment-->
                                </div><!--end comment-wrap-->

                                <ul class="threaded">
                                    <li class="comment">
                                        <div class="commentwrap">
                                            <div class="avatar">
                                                <img src="__PUBLIC__/Home/images/blog/2.jpg" width="60" height="60" alt="" />
                                            </div><!--end avatar-->

                                            <div class="metacomment">
                                                <span><a href="#">王大傻</a></span>发表于 June 31, 2016, at 5:34am <a class="c_reply" href="#">回复</a>
                                            </div><!--end metacomment-->

                                            <div class="bodycomment">
                                                <p>你这是在捧杀楼主么？</p>
                                            </div><!--end bodycomment-->
                                        </div><!--end comment-wrap-->
                                    </li>

                                    <li class="comment">
                                        <div class="commentwrap">
                                            <div class="avatar">
                                                <img src="__PUBLIC__/Home/images/blog/1.jpg" width="60" height="60" alt="" />
                                            </div><!--end avatar-->

                                            <div class="metacomment">
                                                <span><a href="#"></a>贺卫方</span>发表于 June 31, 2016, at 5:34am <a class="c_reply" href="#">回复</a>
                                            </div><!--end metacomment-->

                                            <div class="bodycomment">
                                                <p>唉，还是要多学习的么，你是煞笔么？无脑喷子滚蛋！</p>
                                            </div><!--end bodycomment-->
                                        </div><!--end comment-wrap-->
                                    </li>
                                </ul>
                            </li>

                            <li class="comment">
                                <div class="commentwrap">
                                    <div class="avatar">
                                        <img src="__PUBLIC__/Home/images/blog/3.jpg" width="60" height="60" alt="" />
                                    </div><!--end avatar-->

                                    <div class="metacomment">
                                        <span><a href="#">鲁哈</a></span>发表于 June 31, 2016, at 5:34am <a class="c_reply" href="#">回复</a>
                                    </div><!--end metacomment-->

                                    <div class="bodycomment">
                                        <p>说实话，楼主写的文笔的确不怎么样啊，一般般么，有种百度百科的既视感。。。。。</p>
                                    </div><!--end bodycomment-->
                                </div><!--end comment-wrap-->
                            </li>

                            <li class="comment">
                                <div class="commentwrap">
                                    <div class="avatar">
                                        <img src="__PUBLIC__/Home/images/blog/4.jpg" width="60" height="60" alt="" />
                                    </div><!--end avatar-->

                                    <div class="metacomment">
                                        <span><a href="#">陈丹尼</a></span>发表于 June 31, 2016, at 5:34am <a class="c_reply" href="#">回复</a>
                                    </div><!--end metacomment-->

                                    <div class="bodycomment">
                                        <p>这完全就是百科上抄来的吗，还这么懒也不多陪几张图</p>
                                    </div><!--end bodycomment-->
                                </div><!--end comment-wrap-->
                            </li>
                        </ol>

                        <h3>说说你的看法:</h3>
                        <form action="#" id="commentform" method="post">

                            <fieldset>
                                <label><a>回复：</a></label>
                                <textarea name="comment" id="mycomment" rows="20" cols="30"></textarea>
                            </fieldset>
                            <fieldset>
                                <input name="mysubmitted" id="mysubmitted" class="button small red" value="提交评论" type="submit"/>
                            </fieldset>
                        </form>
                    </div><!--end post-content-->
                </article>

            </div><!--end posts-->
        </section>

        <aside id="sidebar">
            <div class="widget recent-posts">
                <h3>最新发布</h3>
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">【尼泊尔】探寻内心深处的那个禅亚塔</a></h5>
                    <span>13 July 2016 / <a href="#">5 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">【直布罗陀】我们都是温斯顿</a></h5>
                    <span>13 July 2016 / <a href="#">22 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">正在前往多拉多——人类最大的敌人是无序</a></h5>
                    <span>13 July 2016 / <a href="#">58 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">编这些乱七八糟的东西真是好费脑细胞呢</a></h5>
                    <span>13 July 2016 / <a href="#">15 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">人们按照自己的方式生活</a></h5>
                    <span>13 July 2016 / <a href="#">78 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">乌托邦？</a></h5>
                    <span>13 July 2016 / <a href="#">还没有评论</a></span>
                </div><!--end sidebar-post-->
            </div>

            <div class="widget categories ">
                <h3>分类</h3>
                <ul>
                    <li><a href="#">逗你玩</a></li>
                    <li><a href="#">玩</a></li>
                    <li><a href="#">吃好吃的</a></li>
                    <li><a href="#">听听音乐</a></li>
                    <li><a href="#">看看电影</a></li>
                </ul>
            </div><!--end widget-->

            <div class="widget tags ">
                <h3>标签</h3>
                <ul>
                    <li><a href="#">CODING</a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">电影</a></li>
                    <li><a href="#">音乐</a></li>
                    <li><a href="#">摄影</a></li>
                    <li><a href="#">运动</a></li>
                    <li><a href="#">设计</a></li>
                </ul>
            </div><!--end widget-->

            <div class="widget flickr-widget">
                <h3></h3>
                <div id="flickr"></div>
            </div>
        </aside>

        <div class="clear"></div>
    </div><!--end centered-wrapper-->
</block>