<extend name="simple/base"/>

<block name="body">

    <section class="page-title">
        <div class="page-background">
            <div class="pattern1"></div>
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="one-third">
                        <h2>创意 CREATIVE</h2>
                    </div>
                    <div class="two-third column-last">
                        <section id="options">
                            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected active">所有</a></li>
                                <li><a href="#filter" data-option-value=".zhuangbi">装逼必备</a></li>
                                <li><a href="#filter" data-option-value=".sport">运动</a></li>
                                <li><a href="#filter" data-option-value=".xiaolv">效率</a></li>
                                <li><a href="#filter" data-option-value=".bigger">有逼格的APP</a></li>
                                <li><a href="#filter" data-option-value=".design">设计尸</a></li>
                                <li><a href="#filter" data-option-value=".coder">程序猿</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="clear"></div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>


    <div class="centered-wrapper">
        <section id="portfolio-wrapper">
            <ul class="portfolio grid ">
                <li data-category="" class="zhuangbi xiaolv item-wide">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Lorem Ipsum Dolor Sit Amet Consectetur</h1>
                            </div>
                            <span>photography, printing identity</span>

                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image5-small.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="sport bigger xiaolv item-small">
                    <a href="{:U('detail')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Cervejaria Republica Project</h1>
                            </div>
                            <span>printing identity, branding</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image1-small.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="zhuangbi coder sport design item-high">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Lorem Ipsum Dolor Sit Amet</h1>
                            </div>
                            <span>business cards</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image3-small-high.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="sport coder bigger  xiaolv item-small">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Adidas Store</h1>
                            </div>
                            <span>retail, marketing</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image8-small.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="design item-small">
                    <a href="{:U('detail')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Website Redesign</h1>
                            </div>
                            <span>web design</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image2-small.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="zhuangbi design item-small">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Grayscale Shooting Session </h1>
                            </div>
                            <span>photography</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image6-small.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="sport coder item-long">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Carlito`s Bar </h1>
                            </div>
                            <span>branding, business cards</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image7-small-long.jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="zhuangbi bigger item-high">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Carlito`s Bar </h1>
                            </div>
                            <span>branding, business cards</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image (3).jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="sport coder xiaolv item-small">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Carlito`s Bar </h1>
                            </div>
                            <span>branding, business cards</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image (1).jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class="bigger  item-wide">
                    <a href="{:U('detail')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Carlito`s Bar </h1>
                            </div>
                            <span>branding, business cards</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image (2).jpg" alt=" " />
                    </a>
                </li>
                <li data-category="" class=" design coder xiaolv item-small">
                    <a href="{:U('detail?id=2')}">
                        <div class="grid-item-on-hover">
                            <div class="grid-text">
                                <h1>Carlito`s Bar </h1>
                            </div>
                            <span>branding, business cards</span>
                        </div>
                        <img src="__PUBLIC__/Home/images/portfolio/image (4).jpg" alt=" " />
                    </a>
                </li>







            </ul>
        </section>

        <div class="clear"></div>
    </div><!--end centered-wrapper-->


</block>