<extend name="simple/base"/>

<block name="body">
    <section class="page-title">
        <div class="page-background">
            <div class="pattern1"></div>
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="three-fourth">
                        <h2>Apple的处女座</h2>
                    </div>
                    <div class="one-fourth column-last">
                        <div class="portfolio-nav">
                            <a href="#" class="prev-project">Previous Project</a>
                            <a href="#" class="close-project">Close Project</a>
                            <a href="#" class="next-project">Next Project</a>
                        </div>
                    </div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>

    <div class="centered-wrapper">
        <div class="portfolio-content">

            <div id="slides">
                <div class="slides_container">
                    <div class="slide">
                        <a href="__PUBLIC__/Home/images/portfolio/apple1.jpg" rel="prettyPhoto[pp_gal]" title="Portfolio Image 1">
                            <img src="__PUBLIC__/Home/images/portfolio/apple1.jpg" alt=" ">
                        </a>
                    </div>
                    <div class="slide">
                        <a href="__PUBLIC__/Home/images/portfolio/apple2.jpg" rel="prettyPhoto[pp_gal]" title="Portfolio Image 1">
                            <img src="__PUBLIC__/Home/images/portfolio/apple2.jpg" alt=" "></a>
                    </div>
                </div>
                <a href="#" class="prev">
                    <img src="__PUBLIC__/Home/images/blog-arrow-prev.png" width="27" height="43" alt="Arrow Prev">
                </a>
                <a href="#" class="next">
                    <img src="__PUBLIC__/Home/images/blog-arrow-next.png" width="27" height="43" alt="Arrow Next">
                </a>
            </div><!--end slides-->

			<span class="masonry-post-meta">
				<a href="#">通讯</a> / <a href="#">Apple的处女座</a>
			</span>
            <div class="clear"></div>

            <p>
                许多入行不久的设计师总爱问我：“我怎么才能争取到报酬优厚的大客户呢？”一般来说，知名品牌和资本雄厚的大企业的合作目标是那些能做出极为优秀的作品的设计师。如果你能忽略预算多少，客户大小等外部因素，一心一意做好手里的项目，不用很长时间，你便能积攒起一批属于自己的高水准案例。
            </p>

            <p>
                你不想多费力气为自己做这份投资?那你很可能永远也无法参与自己梦寐以求的项目。因为你永远都不够格。真相就是如此简单。最终你会陷入这样一个怪圈：一边幻想着“大客户”的降临，一边却不得不绕着“不理想”的工作环境和客户打转。
            </p>
            <p>
                真正优秀的艺术家却始终会为自己的作品倾注全部心力。很多设计师对创意这个词完全理解错了，是他们导致了自己的失败。他们认为,一旦被神圣的灵感击中，他们便能思如泉涌，几下子就能把工作完成。对于这类设计师，我建议他们深入了解一下那些艺术史上最有影响的艺术家的生平。达利、毕加索、梵高、达芬奇、康斯坦丁-布朗库西等人有一个共同点:他们对职业道德的敬重远超常人。不管情绪如何，他们每天都置身于自己的工作室中。
            </p>
            <p>
                再来谈谈趋势问题。尊重和顺应趋势并不是件坏事。我本人并不是那种对流行趋势充满热情的人。但身处商业社会，设计师的作品也不能太落伍于时代。
            </p>
            <div class="space"></div>

            <h6>做一套完美的设计！</h6>

            <div class="portfolio-gallery">
                <a href="__PUBLIC__/Home/images/portfolio/apple5-1.jpg" rel="prettyPhoto[pp_gal]">
                    <span class="item-on-hover"><span class="hover-image"></span></span>
                    <img src="__PUBLIC__/Home/images/portfolio/apple5-1.jpg" alt=" " />
                </a>
                <a href="__PUBLIC__/Home/images/portfolio/apple5-3.png" rel="prettyPhoto[pp_gal]">
                    <span class="item-on-hover"><span class="hover-image"></span></span>
                    <img src="__PUBLIC__/Home/images/portfolio/apple5-3.png" alt=" " />
                </a>
                <a href="__PUBLIC__/Home/images/portfolio/apple5-2.jpg" rel="prettyPhoto[pp_gal]">
                    <span class="item-on-hover"><span class="hover-image"></span></span>
                    <img src="__PUBLIC__/Home/images/portfolio/apple5-2.jpg" alt=" " />
                </a>
                <a href="__PUBLIC__/Home/images/portfolio/apple5-4.jpg" rel="prettyPhoto[pp_gal]">
                    <span class="item-on-hover"><span class="hover-image"></span></span>
                    <img src="__PUBLIC__/Home/images/portfolio/apple5-4.jpg" alt=" " />
                </a>
                <a  title="JJ Royal" href="__PUBLIC__/Home/images/portfolio/apple5-5.jpg" rel="prettyPhoto[pp_gal]">
                    <span class="item-on-hover"><span class="hover-image"></span></span>
                    <img alt=" " src="__PUBLIC__/Home/images/portfolio/apple5-5.jpg" />
                </a>
            </div>

        </div><!--end portfolio content-->
        <div class="clear"></div>
    </div><!--end centered-wrapper-->

</block>