<extend name="simple/base"/>

<block name="body">

    <section class="page-title">
        <div class="page-background">
            <div class="pattern1"></div>
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="one-third">
                        <h2>数码 DIGITAL</h2>
                    </div>
                    <div class="two-third column-last">
                        <section id="options">
                            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected active">所有</a></li>
                                <li><a href="#filter" data-option-value=".commnuication">交流和沟通</a></li>
                                <li><a href="#filter" data-option-value=".office">办公</a></li>
                                <li><a href="#filter" data-option-value=".design">设计</a></li>
                                <li><a href="#filter" data-option-value=".home">居家</a></li>
                                <li><a href="#filter" data-option-value=".game">游戏和娱乐</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="clear"></div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>

    <div class="centered-wrapper">
        <section id="portfolio-wrapper">
            <ul class="portfolio three-columns">
                <li data-category="" class="commnuication">
                    <a href="__PUBLIC__/Home/images/portfolio/image1.jpg" rel="prettyPhoto[pp_gal]" title="CERVEJARIA REPUBLICA">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image1-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">CERVEJARIA REPUBLICA</a></h3>
                        <span>printing identity, rebranding</span>
                    </div>
                </li>
                <li data-category="" class="office design">
                    <a href="__PUBLIC__/Home/images/portfolio/image3.jpg" rel="prettyPhoto[pp_gal]" title="CITY PHOTO SESSION">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image5-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">CITY PHOTO SESSION</a></h3>
                        <span>photography, urban</span>
                    </div>
                </li>
                <li data-category="" class="commnuication office">
                    <a href="__PUBLIC__/Home/images/portfolio/image3.jpg" rel="prettyPhoto[pp_gal]" title="BOBO PROJECT">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image3-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">BOBO PROJECT</a></h3>
                        <span>rebranding, business cards</span>
                    </div>
                </li>
                <li data-category="" class="design home">
                    <a href="__PUBLIC__/Home/images/portfolio/image8.jpg" rel="prettyPhoto[pp_gal]" title="STORE DESIGN">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image8-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">STORE DESIGN</a></h3>
                        <span>marketing, 3d modeling</span>
                    </div>
                </li>
                <li data-category="" class="commnuication design game">
                    <a href="__PUBLIC__/Home/images/portfolio/image8.jpg" rel="prettyPhoto[pp_gal]" title="STORE DESIGN">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image2-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">HOTEL WEBDESIGN</a></h3>
                        <span>web design, wordpress</span>
                    </div>
                </li>
                <li data-category="" class="game">
                    <a href="__PUBLIC__/Home/images/portfolio/image7.jpg" rel="prettyPhoto[pp_gal]" title="CARLITO`S BAR LOGO">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image7-small.jpg" alt=" "  />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">CARLITO`S BAR</a></h3>
                        <span>logo, printing identity</span>
                    </div>
                </li>
                <li data-category="" class="home game">
                    <a href="__PUBLIC__/Home/images/portfolio/image6.jpg" rel="prettyPhoto[pp_gal]" title="OLD CITY STREETS">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image6-small.jpg" alt=" "/>
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">OLD CITY STREETS</a></h3>
                        <span>photography, media</span>
                    </div>
                </li>
                <li data-category="" class="commnuication">
                    <a href="__PUBLIC__/Home/images/portfolio/image4.jpg" rel="prettyPhoto[pp_gal]" title="TEMPORIBUS AUTEM QUIBUSDAM">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image4-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">WARNER BROS WEBSITE</a></h3>
                        <span>web design, marketing</span>
                    </div>
                </li>
                <li data-category="" class="office home">
                    <a href="__PUBLIC__/Home/images/portfolio/image9.jpg" rel="prettyPhoto[pp_gal]" title="FIELDS">
                        <span class="item-on-hover"><span class="hover-image"></span></span>
                        <img src="__PUBLIC__/Home/images/portfolio/image9-small.jpg" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="{:U('detail')}">COUNTRY PH OTOSHOOT</a></h3>
                        <span>photography, marketing</span>
                    </div>
                </li>
            </ul>
        </section>

        <div class="clear"></div>
    </div><!--end centered-wrapper-->



</block>