<extend name="simple/base"/>

<block name="body">

    <section class="page-title">
        <div class="page-background">
            <img src="__PUBLIC__/Home/images/bg/title-bg1.jpg">
        </div>
        <div class="bottom-shadow"></div>
        <div class="title-wrapper">
            <div class="title-bg">
                <div class="title-content">
                    <div class="two-third">
                        <h2>分享 SHARE</h2>
                    </div>
                    <div class="one-third column-last">
                    </div>
                    <div class="clear"></div>
                </div><!--end title-content-->
            </div>
        </div><!--end title-wrapper-->
    </section>

    <div class="centered-wrapper">
        <section id="blog-page">
            <div id="posts">
                <!--大图-->
                <article class="post regular-article">
                    <div class="post-thumbnail">
                        <a href="{:U('detail')}">
                            <span class="item-on-hover"><span class="hover-link"></span></span>
                            <img src="__PUBLIC__/Home/images/blog/blog-image1.jpg" alt="" />
                        </a>
                    </div><!--end post-thumbnail-->
                    <div class="post-content">
						<span class="masonry-post-meta">
							13 June 2016 / <a href="#">看看电影</a> / <a href="{:U('detail')}">425 评论</a>
						</span>
                        <i class="icon-pencil"></i>
                        <div class="clear"></div>
                        <h1><a href="{:U('detail')}">意大利的光与暗</a></h1>

                        <p>古老的文化艺术城市。城区多广场，多文艺复兴时期的艺术珍藏和建筑古迹。有圣乔瓦尼巴蒂斯塔教堂、瓦尔登西安教堂等以及豪华的宫殿。沿波河左岸多公园。设有历史、艺术博物馆。还有创立于1405年的都灵大学、多所理工科高等院校和国家约瑟夫·弗迪音乐学院，以及现代科技研究实验中心。</p>
                        <a class="button red" href="{:U('detail')}">Read More</a>

                    </div><!--end post-content-->
                </article>
                <!--轮播-->
                <article class="post gallery-article">
                    <div class="post-thumbnail">
                        <div class="blog-slides">
                            <div class="slides_container">
                                <div class="slide">
                                    <a href="__PUBLIC__/Home/images/blog/image-gallery1.jpg" rel="prettyPhoto[pp_gal]" title="Gallery Image 1"><img src="__PUBLIC__/Home/images/blog/image-gallery1.jpg" width="695" height="400" alt="Slide 1"></a>
                                </div>
                                <div class="slide">
                                    <a href="__PUBLIC__/Home/images/blog/image-gallery2.jpg" rel="prettyPhoto[pp_gal]" title="Gallery Image 2"><img src="__PUBLIC__/Home/images/blog/image-gallery2.jpg" alt="Slide 2"></a>
                                </div>
                                <div class="slide">
                                    <a href="__PUBLIC__/Home/images/blog/image-gallery3.jpg" rel="prettyPhoto[pp_gal]" title="Gallery Image 3"><img src="__PUBLIC__/Home/images/blog/image-gallery3.jpg" alt="Slide 3"></a>
                                </div>
                            </div>
                            <a href="#" class="prev"><img src="__PUBLIC__/Home/images/blog-arrow-prev.png" width="27" height="43" alt="Arrow Prev"></a>
                            <a href="#" class="next"><img src="__PUBLIC__/Home/images/blog-arrow-next.png" width="27" height="43" alt="Arrow Next"></a>
                        </div><!--end slides-->
                    </div><!--end post-thumbnail-->
                    <div class="post-content">
						<span class="masonry-post-meta">
							13 June 2016 / <a href="#">吃好吃的</a> / <a href="{:U('detail')}">425 评论</a>
						</span>
                        <i class="icon-pencil"></i>
                        <div class="clear"></div>
                        <h1><a href="{:U('detail')}">如何让创造力起死回生</a></h1>

                        <p>这个时代的创造力死了么？这并不是一个很好回答的问题。单读用一本书去探讨这个问题，也不能说找到了答案。在越来越便捷的现代社会，真正的思考和创作到底在哪里？</p>
                        <p>19世纪高更、梵高的绘画、一战后的海明威、菲茨杰拉德、二战后法国的新浪潮电影……这些都是我们眼中的黄金时代的创作者。而我们生活的21世纪，技术的发展带来了前所未有的可能性，手机就可以创作影像，App就能录音，一台笔记本就可以写一段改变信息世界的代码，那么你呢？是否已经找到了改变世界的支点？</p>
                        <a class="button red" href="{:U('detail')}">Read More</a>

                    </div><!--end post-content-->
                </article>
                <!--短评-->
                <article class="post quote-article">
                    <div class="post-content">
						<span class="masonry-post-meta">
							13 June 2016 / <a href="#">逗你玩</a> / <a href="{:U('detail')}">425 评论</a>
						</span>
                        <i class="icon-quote-left"></i>
                        <blockquote class="masonry-excerpt">历经中国传媒大学、北京大学两场宣讲之后，现在正式宣布，单读联合13家原创平台共同发起“我们的黄金时代”大型寻人计划。用一个月的时间去寻找年轻的创作者。如果你仍坚持创作，想要发出自己的声音，希望我们可以相遇。在一个“万象更新”的年代，这是建立属于我们自己的黄金时代的努力。</blockquote>
                        <h4 class="quote-author">- 落网</h4>

                    </div><!--end post-content-->
                </article>
                <!--音乐-->
                <article class="post music-article">
                    <div class="post-content">
						<span class="masonry-post-meta">
							13 June 2016 / <a href="#">听听音乐</a> / <a href="{:U('detail')}">425 评论</a>
						</span>
                        <i class="icon-music"></i>
                        <div id="audio_jplayer" class="jp-jplayer"></div>
                        <div id="jp_container_1" class="jp-audio">
                            <div class="jp-type-single">
                                <div class="jp-gui jp-interface">
                                    <div class="jp-controls">
                                        <a href="javascript:;" class="jp-play" tabindex="1">play</a>
                                        <a href="javascript:;" class="jp-pause" tabindex="1">pause</a>
                                        <div class="jp-current-time"></div>
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value"></div>
                                        </div>

                                        <a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a>
                                        <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a>
                                        <div class="jp-duration"></div>
                                    </div>
                                </div>
                                <div class="jp-no-solution">
                                    <span>Update Required</span>
                                    To play the media you will need to either update your browser to a recent version or update your <a href="../../../get.adobe.com/flashplayer/default.htm" target="_blank">Flash plugin</a>.
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <h1><a href="{:U('detail')}">《OverWatch》原声——Nepal</a></h1>
                        <p>正在前往尼泊尔——你曾经告诉过我，谁都有一双不会飞的有意义的翅膀，因为那双翅膀，是你曾经在空中飞翔过的痕迹。晚风就那么温柔的拂过发丝，夕阳就那么不舍得离开大地。</p>
                        <a class="button red" href="{:U('detail')}">Read More</a>

                    </div><!--end post-content-->
                </article>
                <!--普通-->
                <article class="post regular-article">
                    <div class="post-thumbnail">
                        <a href="{:U('detail')}">
                            <span class="item-on-hover"><span class="hover-link"></span></span>
                            <img src="__PUBLIC__/Home/images/blog/blog-image3.jpg" alt="" />
                        </a>
                    </div><!--end post-thumbnail-->
                    <div class="post-content">
						<span class="masonry-post-meta">
							10 June 2016 / <a href="#">玩</a> / <a href="{:U('detail')}">3 Comments</a>
						</span>
                        <i class="icon-pencil"></i>
                        <div class="clear"></div>
                        <h1><a href="{:U('detail')}">【直布罗陀】我们都是温斯顿</a></h1>

                        <p>对不起，我还是无法睡着，因为我在害怕，睁开眼睛后看到的是空荡荡的枕头，谁叫我不甘心，等到无法睁开眼睛了都要等。你曾经告诉过我，谁都有一双不会飞的有意义的翅膀，因为那双翅膀，是你曾经在空中飞翔过的痕迹。晚风就那么温柔的拂过发丝，夕阳就那么不舍得离开大地。曾近一度幻想拥有翅膀，就可以肆意离开家，就可以飞到繁星之中，找到最耀眼的那颗。关于我的属于你的一切，我会慢慢忘记，就像从来没有发生过，化成泡沫，消失在湛蓝的天空。</p>
                        <a class="button red" href="{:U('detail')}">Read More</a>

                    </div><!--end post-content-->
                </article>

                <div class="clear"></div>

                <div class="pagenav">
                    <span class="pages">Page 1 of 3</span>
                    <span class="current">1</span>
                    <a href="#" class="page">2</a>
                    <a href="#" class="page">3</a>
                    <a href="#" class="nextpostslink">&raquo;</a>
                </div>

            </div><!--end posts-->
        </section>

        <aside id="sidebar">
            <div class="widget recent-posts">
                <h3>最新发布</h3>
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">【尼泊尔】探寻内心深处的那个禅亚塔</a></h5>
                    <span>13 July 2016 / <a href="#">5 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">【直布罗陀】我们都是温斯顿</a></h5>
                    <span>13 July 2016 / <a href="#">22 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">正在前往多拉多——人类最大的敌人是无序</a></h5>
                    <span>13 July 2016 / <a href="#">58 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">编这些乱七八糟的东西真是好费脑细胞呢</a></h5>
                    <span>13 July 2016 / <a href="#">15 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">人们按照自己的方式生活</a></h5>
                    <span>13 July 2016 / <a href="#">78 评论</a></span>
                </div><!--end sidebar-post-->
                <div class="sidebar-post">
                    <h5><a href="blog-single.html">乌托邦？</a></h5>
                    <span>13 July 2016 / <a href="#">还没有评论</a></span>
                </div><!--end sidebar-post-->
            </div>

            <div class="widget categories ">
                <h3>分类</h3>
                <ul>
                    <li><a href="#">逗你玩</a></li>
                    <li><a href="#">玩</a></li>
                    <li><a href="#">吃好吃的</a></li>
                    <li><a href="#">听听音乐</a></li>
                    <li><a href="#">看看电影</a></li>
                </ul>
            </div><!--end widget-->

            <div class="widget tags ">
                <h3>标签</h3>
                <ul>
                    <li><a href="#">CODING</a></li>
                    <li><a href="#">美食</a></li>
                    <li><a href="#">电影</a></li>
                    <li><a href="#">音乐</a></li>
                    <li><a href="#">摄影</a></li>
                    <li><a href="#">运动</a></li>
                    <li><a href="#">设计</a></li>
                </ul>
            </div><!--end widget-->

            <div class="widget flickr-widget">
                <h3></h3>
                <div id="flickr"></div>
            </div>
        </aside>

        <div class="clear"></div>
    </div><!--end centered-wrapper-->
</block>